/* default site theme */

html {
    height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px;
    height: 100vh;
}

.menu-container {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    background-color: #104d7a;
    align-items: center;
}

.menu-item {
    margin: 20px;
}

.menu-item > a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 70px;
    fill: #88d1d0;
}

.content {
    grid-column: 2;
    grid-row: 1;
}

.image-container {
    margin-bottom: -5px;
}

.portfolio-image {
    height: 200px;
    object-fit: cover;
}

.portfolio-image-modal {
    display: none;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: black;
}

.portfolio-image-large {
    max-height: 100vh;
    max-width: 100vw;
}

.modal-close-button {
    position: absolute;
    top: 5%;
    right: 5%;
    background: rgba(256, 256, 256, .8);
    border-radius: 15px;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.modal-left-button {
    position: absolute;
    left: 5%;
    top: 50%;
    background: rgba(256, 256, 256, .8);
    border-radius: 15px;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.modal-right-button {
    position: absolute;
    right: 5%;
    top: 50%;
    background: rgba(256, 256, 256, .8);
    border-radius: 15px;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.image-description {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    width: 400px;
    background: rgba(256, 256, 256, .8);
    border-radius: 15px;
    padding: 5px;
    text-align: left;
    padding: 5px;
    white-space: pre-line;
    margin: 0px;
    font-size: small;
}

.image-flexbox {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.contact-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px;
}

.contact-item > input {
    width: 400px;
    background-color: #ededed;
    border-radius: 5px;
    border-width: 1px;
}

.contact-item-large > textarea {
    width: 400px;
    height: 200px;
    background-color: #ededed;
    border-radius: 5px;
    resize: none;
}

.contact-submit {
    text-align: right;
    margin-top: 10px;
}

.contact-submit > input {
    background-color: #104d7a;
    color: white;
    font-size: medium;
    border-color: #104d7a;
    border-radius: 5px;
    border-width: 0;
    padding: 4px 6px 4px 6px;
}

.contact-label {
    display: block;
    margin-top: 10px;
    margin-bottom: 2px;
}