<content>
    <div class="image-flexbox">
        <div class="image-container">
            <img id="img01" class="portfolio-image" src="~/images/portfolio/squishybear_studios_logo.png" />
        </div>
        <div class="image-container">
            <img id="img02" class="portfolio-image" src="~/images/portfolio/tabbys_tea_house_logo.png" />
        </div>
        <div class="image-container">
            <img id="img03" class="portfolio-image" src="~/images/portfolio/witch_illustration.png" />
        </div>
        <div class="image-container">
            <img id="img04" class="portfolio-image" src="~/images/portfolio/ella_enchanted_cover.png" />
        </div>
        <div class="image-container">
            <img id="img05" class="portfolio-image" src="~/images/portfolio/westside_market_brochure_page1.png" />
        </div>
        <div class="image-container">
            <img id="img06" class="portfolio-image" src="~/images/portfolio/westside_market_brochure_page2.png" />
        </div>
        <div class="image-container">
            <img id="img07" class="portfolio-image" src="~/images/portfolio/earth_day_poster.png" />
        </div>
        <div class="image-container">
            <img id="img08" class="portfolio-image" src="~/images/portfolio/oldspice_specad_ad1.png" />
        </div>
        <div class="image-container">
            <img id="img09" class="portfolio-image" src="~/images/portfolio/oldspice_specad_ad2.png" />
        </div>
        <div class="image-container">
            <img id="img10" class="portfolio-image" src="~/images/portfolio/oldspice_specad_ad2.png" />
        </div>
    </div>
</content>
<div id="modal-img01" class="portfolio-image-modal">
    <img class="modal-close-button" id="close-button01" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/squishybear_studios_logo.png" />
    <img class="modal-right-button" id="right-button01" src="~/images/arrow-right.svg" />
    <div class="image-description">Logo for a fictional video game studio - SquishyBear Studios

        Fonts:
        None - hand-lettered
    </div>
</div>
<div id="modal-img02" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button02" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button02" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/tabbys_tea_house_logo.png" />
    <img class="modal-right-button" id="right-button02" src="~/images/arrow-right.svg" />
    <div class="image-description">Black and white logo for a fictional tea house - Tabby's Tea House
        Based on photo by Loverna Journey on Unsplash

        Fonts:
        Merengue Script Regular from Adobe Fonts
    </div>
</div>
<div id="modal-img03" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button03" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button03" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/witch_illustration.png" />
    <img class="modal-right-button" id="right-button03" src="~/images/arrow-right.svg" />
    <div class="image-description">Illustration of a witch and her familiar - for use on a Halloween postcard or similar.
    </div>
</div>
<div id="modal-img04" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button04" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button04" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/ella_enchanted_cover.png" />
    <img class="modal-right-button" id="right-button04" src="~/images/arrow-right.svg" />
    <div class="image-description">Speculative book cover for Ella Enchanted by Gail Carson Levine

        Fonts:
        Seaweed Script Pro from Adobe Fonts
    </div>
</div>
<div id="modal-img05" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button05" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button05" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/westside_market_brochure_page1.png" />
    <img class="modal-right-button" id="right-button05" src="~/images/arrow-right.svg" />
    <div class="image-description">Speculative brochure for Cleveland's West Side Market - Page 1
        Info from westsidemarket.org

        Fonts:
        Degular Text from Adobe Fonts
        Degular Display from Adobe Fonts
    </div>
</div>
<div id="modal-img06" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button06" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button06" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/westside_market_brochure_page2.png" />
    <img class="modal-right-button" id="right-button06" src="~/images/arrow-right.svg" />
    <div class="image-description">Speculative brochure for Cleveland's West Side Market - Page 2
        Info from westsidemarket.org

        Fonts:
        Degular Text from Adobe Fonts
        Degular Display from Adobe Fonts
    </div>
</div>
<div id="modal-img07" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button07" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button07" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/earth_day_poster.png" />
    <img class="modal-right-button" id="right-button07" src="~/images/arrow-right.svg" />
</div>
<div id="modal-img08" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button08" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button08" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/oldspice_specad_ad1.png" />
    <img class="modal-right-button" id="right-button08" src="~/images/arrow-right.svg" />
</div>
<div id="modal-img09" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button09" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button09" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/oldspice_specad_ad2.png" />
    <img class="modal-right-button" id="right-button09" src="~/images/arrow-right.svg" />
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".portfolio-image").click(function () {
                $("#" + "modal-" + this.id).css("display", "block");
            });
            $(".modal-close-button").click(function () {
                $("#" + this.id).parent().css("display", "none");
            })
            $(".modal-left-button").click(function () {
                $("#" + this.id).closest(".portfolio-image-modal").prev().css("display", "block");
                $("#" + this.id).closest(".portfolio-image-modal").css("display", "none");
            });
            $(".modal-right-button").click(function () {
                $("#" + this.id).closest(".portfolio-image-modal").next().css("display", "block");
                $("#" + this.id).closest(".portfolio-image-modal").css("display", "none");
            });
        })
    </script>
}