<content>
    <div class="image-flexbox">
        <div class="image-container">
            <img id="img01" class="portfolio-image" src="~/images/portfolio-thumb/squishybear_studios_logo.jpg" />
        </div>
        <div class="image-container">
            <img id="img02" class="portfolio-image" src="~/images/portfolio-thumb/tabbys_tea_house_logo.jpg" />
        </div>
        <div class="image-container">
            <img id="img03" class="portfolio-image" src="~/images/portfolio-thumb/witch_illustration.jpg" />
        </div>
        <div class="image-container">
            <img id="img04" class="portfolio-image" src="~/images/portfolio-thumb/ella_enchanted_cover.jpg" />
        </div>
        <div class="image-container">
            <img id="img05" class="portfolio-image" src="~/images/portfolio-thumb/westside_market_brochure_page1.jpg" />
        </div>
        <div class="image-container">
            <img id="img06" class="portfolio-image" src="~/images/portfolio-thumb/westside_market_brochure_page2.jpg" />
        </div>
        <div class="image-container">
            <img id="img07" class="portfolio-image" src="~/images/portfolio-thumb/saul_bass_style_poster.jpg" />
        </div>
        <div class="image-container">
            <img id="img08" class="portfolio-image" src="~/images/portfolio-thumb/oldspice_specad_ad1.jpg" />
        </div>
        <div class="image-container">
            <img id="img09" class="portfolio-image" src="~/images/portfolio-thumb/oldspice_specad_ad2.jpg" />
        </div>
        <div class="image-container">
            <img id="img10" class="portfolio-image" src="~/images/portfolio-thumb/earth_day_poster.jpg" />
        </div>
        <div class="image-container">
            <img id="img11" class="portfolio-image" src="~/images/portfolio-thumb/adcouncil_ad1.jpg" />
        </div>
        <div class="image-container">
            <img id="img12" class="portfolio-image" src="~/images/portfolio-thumb/adcouncil_ad2.jpg" />
        </div>
        <div class="image-container">
            <img id="img13" class="portfolio-image" src="~/images/portfolio-thumb/adcouncil_ad3.jpg" />
        </div>
        <div class="image-container">
            <img id="img14" class="portfolio-image" src="~/images/portfolio-thumb/arthistory_spreads_spread1.jpg" />
        </div>
        <div class="image-container">
            <img id="img15" class="portfolio-image" src="~/images/portfolio-thumb/arthistory_spreads_spread2.jpg" />
        </div>
        <div class="image-container">
            <img id="img16" class="portfolio-image" src="~/images/portfolio-thumb/arthistory_spreads_spread3.jpg" />
        </div>
        <div class="image-container">
            <img id="img17" class="portfolio-image" src="~/images/portfolio-thumb/arthistory_spreads_spread4.jpg" />
        </div>
        <div class="image-container">
            <img id="img18" class="portfolio-image" src="~/images/portfolio-thumb/helvetica_poster.jpg" />
        </div>
    </div>
</content>
<div id="modal-img01" class="portfolio-image-modal">
    <img class="modal-close-button" id="close-button01" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/squishybear_studios_logo.png" />
    <img class="modal-right-button" id="right-button01" src="~/images/arrow-right.svg" />
    <div class="image-description">Logo for a fictional video game studio - SquishyBear Studios
    </div>
</div>
<div id="modal-img02" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button02" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button02" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/tabbys_tea_house_logo.png" />
    <img class="modal-right-button" id="right-button02" src="~/images/arrow-right.svg" />
    <div class="image-description">Black and white logo for a fictional tea house - Tabby's Tea House
        Based on photo

        <b>Fonts:</b> Merengue Script Regular from <a href="https://fonts.adobe.com/">Adobe Fonts</a>
        <b>Photo Credits:</b> <a href="https://unsplash.com/loverna">Loverna Journey</a> on <a href="https://unsplash.com">Unsplash</a>
    </div>
</div>
<div id="modal-img03" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button03" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button03" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/witch_illustration.png" />
    <img class="modal-right-button" id="right-button03" src="~/images/arrow-right.svg" />
    <div class="image-description">Illustration of a witch and her familiar - for use on a Halloween postcard or similar.
    </div>
</div>
<div id="modal-img04" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button04" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button04" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/ella_enchanted_cover.png" />
    <img class="modal-right-button" id="right-button04" src="~/images/arrow-right.svg" />
    <div class="image-description">Speculative book cover for Ella Enchanted by Gail Carson Levine

    <b>Fonts:</b> Seaweed Script Pro from <a href="https://fonts.adobe.com/">Adobe Fonts</a>
    </div>
</div>
<div id="modal-img05" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button05" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button05" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/westside_market_brochure_page1.png" />
    <img class="modal-right-button" id="right-button05" src="~/images/arrow-right.svg" />
    <div class="image-description">Speculative brochure for Cleveland's West Side Market - Page 1
        Info from <a href="http://westsidemarket.org/">West Side Market</a>

        <b>Fonts:</b> Degular Text from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Degular Display from <a href="https://fonts.adobe.com/">Adobe Fonts</a>
    </div>
</div>
<div id="modal-img06" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button06" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button06" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/westside_market_brochure_page2.png" />
    <img class="modal-right-button" id="right-button06" src="~/images/arrow-right.svg" />
    <div class="image-description">Speculative brochure for Cleveland's West Side Market - Page 2
        Info from <a href="http://westsidemarket.org/">West Side Market</a>

        <b>Fonts:</b> Degular Text from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Degular Display from <a href="https://fonts.adobe.com/">Adobe Fonts</a>
    </div>
</div>
<div id="modal-img07" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button07" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button07" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/saul_bass_style_poster.png" />
    <img class="modal-right-button" id="right-button07" src="~/images/arrow-right.svg" />
    <div class="image-description">A "Saul Bass-style" speculative ad poster for the movie "Eternal Sunshine of the Spotless Mind"

        <b>Fonts:</b> Slackey from <a href="https://1001fonts.com">1001Fonts</a>
    </div>
</div>
<div id="modal-img08" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button08" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button08" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/oldspice_specad_ad1.png" />
    <img class="modal-right-button" id="right-button08" src="~/images/arrow-right.svg" />
    <div class="image-description">Speculative ad series for Old Spice
        Marketing aimed at new audience - women buying Old Spice for themselves

        <b>Fonts:</b> TroubleMarker DEMO with explicit permission for portfolio use from <a href="https://pizzadude.dk">pizzadude.dk</a>
    </div>
</div>
<div id="modal-img09" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button09" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button09" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/oldspice_specad_ad2.png" />
    <img class="modal-right-button" id="right-button09" src="~/images/arrow-right.svg" />
    <div class="image-description">Speculative ad series for Old Spice
        Marketing aimed at new audience - women buying Old Spice for themselves

        <b>Fonts:</b> TroubleMarker DEMO with explicit permission for portfolio use from <a href="https://pizzadude.dk">pizzadude.dk</a>
    </div>
</div>
<div id="modal-img10" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button10" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button10" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/earth_day_poster.png" />
    <img class="modal-right-button" id="right-button10" src="~/images/arrow-right.svg" />
    <div class="image-description">Earth Day poster

        <b>Fonts:</b> Arial Narrow from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>
    </div>
</div>
<div id="modal-img11" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button11" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button11" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/adcouncil_ad1.png" />
    <img class="modal-right-button" id="right-button11" src="~/images/arrow-right.svg" />
    <div class="image-description">Speculative ad series for the Ad Council - LGBT rights

        <b>Fonts:</b> Chaparral Pro from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Ink Free from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>
        <b>Photo Credits:</b> <a href="https://unsplash.com/centelm">Clément Falize</a> on <a href="https://unsplash.com">Unsplash</a>, <a href="https://unsplash.com/kmagnuson">Karl Magnuson</a> on <a href="https://unsplash.com">Unsplash</a>, <a href="https://unsplash.com/harlimarten">Harli Marten</a> on <a href="https://unsplash.com">Unsplash</a>
    </div>
</div>
<div id="modal-img12" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button12" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button12" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/adcouncil_ad2.png" />
    <img class="modal-right-button" id="right-button12" src="~/images/arrow-right.svg" />
    <div class="image-description">Speculative ad series for the Ad Council - LGBT rights

        <b>Fonts:</b> Chaparral Pro from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Ink Free from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>
        <b>Photo Credits:</b> <a href="https://unsplash.com/centelm">Clément Falize</a> on <a href="https://unsplash.com">Unsplash</a>, <a href="https://unsplash.com/kmagnuson">Karl Magnuson</a> on <a href="https://unsplash.com">Unsplash</a>, <a href="https://unsplash.com/harlimarten">Harli Marten</a> on <a href="https://unsplash.com">Unsplash</a>
    </div>
</div>
<div id="modal-img13" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button13" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button13" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/adcouncil_ad3.png" />
    <img class="modal-right-button" id="right-button13" src="~/images/arrow-right.svg" />
    <div class="image-description">Speculative ad series for the Ad Council - LGBT rights

        <b>Fonts:</b> Chaparral Pro from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Ink Free from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>
        <b>Photo Credits:</b> <a href="https://unsplash.com/centelm">Clément Falize</a> on <a href="https://unsplash.com">Unsplash</a>, <a href="https://unsplash.com/kmagnuson">Karl Magnuson</a> on <a href="https://unsplash.com">Unsplash</a>, <a href="https://unsplash.com/harlimarten">Harli Marten</a> on <a href="https://unsplash.com">Unsplash</a>
    </div>
</div>
<div id="modal-img14" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button14" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button14" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/arthistory_spreads_spread1.png" />
    <img class="modal-right-button" id="right-button14" src="~/images/arrow-right.svg" />
    <div class="image-description">Set of art history movement spreads
        Info and photos from <a href="https://www.theartstory.org/">The Art Story</a>

        <b>Fonts:</b> Cambria Regular from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>, Scriptina from <a href="https://1001fonts.com">1001Fonts</a>, Futura PT from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Copperplate from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Lucida Console from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>
        <b>Photo Credits:</b> Various from <a href="https://www.wikiart.org/">WikiArt</a> and <a href="https://commons.wikimedia.org/">Wikimedia Commons</a> with Public Domain licenses, Nate Robert at <a href="https://www.flickr.com/photos/naterobert/4682690461">Flickr</a> with <a href="https://creativecommons.org/licenses/by/2.0/legalcode/">license</a>
    </div>
</div>
<div id="modal-img15" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button15" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button15" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/arthistory_spreads_spread2.png" />
    <img class="modal-right-button" id="right-button15" src="~/images/arrow-right.svg" />
    <div class="image-description">
        Set of art history movement spreads
        Info and photos from <a href="https://www.theartstory.org/">The Art Story</a>

        <b>Fonts:</b> Cambria Regular from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>, Scriptina from <a href="https://1001fonts.com">1001Fonts</a>, Futura PT from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Copperplate from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Lucida Console from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>
        <b>Photo Credits:</b> Various from <a href="https://www.wikiart.org/">WikiArt</a> and <a href="https://commons.wikimedia.org/">Wikimedia Commons</a> with Public Domain licenses, Nate Robert at <a href="https://www.flickr.com/photos/naterobert/4682690461">Flickr</a> with <a href="https://creativecommons.org/licenses/by/2.0/legalcode/">license</a>
    </div>
</div>
<div id="modal-img16" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button16" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button16" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/arthistory_spreads_spread3.png" />
    <img class="modal-right-button" id="right-button16" src="~/images/arrow-right.svg" />
    <div class="image-description">
        Set of art history movement spreads
        Info and photos from <a href="https://www.theartstory.org/">The Art Story</a>

        <b>Fonts:</b> Cambria Regular from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>, Scriptina from <a href="https://1001fonts.com">1001Fonts</a>, Futura PT from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Copperplate from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Lucida Console from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>
        <b>Photo Credits:</b> Various from <a href="https://www.wikiart.org/">WikiArt</a> and <a href="https://commons.wikimedia.org/">Wikimedia Commons</a> with Public Domain licenses, Nate Robert at <a href="https://www.flickr.com/photos/naterobert/4682690461">Flickr</a> with <a href="https://creativecommons.org/licenses/by/2.0/legalcode/">license</a>
    </div>
</div>
<div id="modal-img17" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button17" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button17" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/arthistory_spreads_spread4.png" />
    <img class="modal-right-button" id="right-button17" src="~/images/arrow-right.svg" />
    <div class="image-description">
        Set of art history movement spreads
        Info and photos from <a href="https://www.theartstory.org/">The Art Story</a>

        <b>Fonts:</b> Cambria Regular from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>, Scriptina from <a href="https://1001fonts.com">1001Fonts</a>, Futura PT from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Copperplate from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Lucida Console from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>
        <b>Photo Credits:</b> Various from <a href="https://www.wikiart.org/">WikiArt</a> and <a href="https://commons.wikimedia.org/">Wikimedia Commons</a> with Public Domain licenses, Nate Robert at <a href="https://www.flickr.com/photos/naterobert/4682690461">Flickr</a> with <a href="https://creativecommons.org/licenses/by/2.0/legalcode/">license</a>
    </div>
</div>
<div id="modal-img18" class="portfolio-image-modal">
    <img class="modal-left-button" id="left-button18" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" id="close-button18" src="~/images/close.svg" />
    <img class="portfolio-image-large" src="~/images/portfolio/helvetica_poster.png" />
    <div class="image-description">Poster about the Helvetica font

        <b>Fonts:</b> Helvetica LT Pro Roman from <a href="https://www.myfonts.com/">MyFonts</a>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".portfolio-image").click(function () {
                $("#" + "modal-" + this.id).css("display", "block");
            });
            $(".modal-close-button").click(function () {
                $("#" + this.id).parent().css("display", "none");
            })
            $(".modal-left-button").click(function () {
                $("#" + this.id).closest(".portfolio-image-modal").prev().css("display", "block");
                $("#" + this.id).closest(".portfolio-image-modal").css("display", "none");
            });
            $(".modal-right-button").click(function () {
                $("#" + this.id).closest(".portfolio-image-modal").next().css("display", "block");
                $("#" + this.id).closest(".portfolio-image-modal").css("display", "none");
            });
        })
    </script>
}