<content>
    <img class="modal-left-button" src="~/images/arrow-left.svg" />
    <img class="modal-close-button" src="~/images/close.svg" />
    <img class="modal-right-button" src="~/images/arrow-right.svg" />
    <div class="image-flexbox">
        <div class="image-container" id="img-container-squishybear">
            <img class="portfolio-image" id="thumb-img-squishybear" src="~/images/portfolio-thumb/squishybear_studios_logo.jpg" />
            <div class="modal-info" id="modal-info-squishybear">
                <img class="portfolio-image-large" id="modal-img-squishybear" src="~/images/portfolio/squishybear_studios_logo.png" />
                <div class="image-description" id="desc-squishybear">
                    <div class="image-description-paragraph">Logo for a fictional video game studio - SquishyBear Studios.</div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-teahouse">
            <img class="portfolio-image" id="thumb-img-teahouse" src="~/images/portfolio-thumb/tabbys_tea_house_logo.jpg" />
            <div class="modal-info" id="modal-info-teahouse">
                <img class="portfolio-image-large" id="modal-img-teahouse" src="~/images/portfolio/tabbys_tea_house_logo.png" />
                <div class="image-description" id="desc-teahouse">
                    <div class="image-description-paragraph">Black and white logo for a fictional tea house - Tabby's Tea House. Based on photo.</div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Merengue Script Regular from <a href="https://fonts.adobe.com/">Adobe Fonts</a></div>
                    <div class="image-description-paragraph"><b>Photo Credits:</b> <a href="https://unsplash.com/loverna">Loverna Journey</a> on <a href="https://unsplash.com">Unsplash</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-witch">
            <img class="portfolio-image" id="thumb-img-witch" src="~/images/portfolio-thumb/witch_illustration.jpg" />
            <div class="modal-info" id="modal-info-witch">
                <img class="portfolio-image-large" id="modal-img-witch" src="~/images/portfolio/witch_illustration.png" />
                <div class="image-description" id="desc-witch">
                    <div class="image-description-paragraph">Illustration of a witch and her familiar - for use on a Halloween postcard or similar.</div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-ellaenchanted">
            <img class="portfolio-image" id="thumb-img-ellaenchanted" src="~/images/portfolio-thumb/ella_enchanted_cover.jpg" />
            <div class="modal-info" id="modal-info-ellaenchanted">
                <img class="portfolio-image-large" id="modal-img-ellaenchanted" src="~/images/portfolio/ella_enchanted_cover.png" />
                <div class="image-description" id="desc-ellaenchanted">
                    <div class="image-description-paragraph">Speculative book cover for Ella Enchanted by Gail Carson Levine.</div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Seaweed Script Pro from <a href="https://fonts.adobe.com/">Adobe Fonts</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-westside1">
            <img class="portfolio-image" id="thumb-img-westside1" src="~/images/portfolio-thumb/westside_market_brochure_page1.jpg" />
            <div class="modal-info" id="modal-info-westside1">
                <img class="portfolio-image-large" id="modal-img-westside1" src="~/images/portfolio/westside_market_brochure_page1.png" />
                <div class="image-description" id="desc-westside1">
                    <div class="image-description-paragraph">Speculative brochure for Cleveland's West Side Market - Page 1. Info from <a href="http://westsidemarket.org/">West Side Market</a>.</div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Degular Text from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Degular Display from <a href="https://fonts.adobe.com/">Adobe Fonts</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-westside2">
            <img class="portfolio-image" id="thumb-img-westside2" src="~/images/portfolio-thumb/westside_market_brochure_page2.jpg" />
            <div class="modal-info" id="modal-info-westside2">
                <img class="portfolio-image-large" id="modal-img-westside2" src="~/images/portfolio/westside_market_brochure_page2.png" />
                <div class="image-description" id="desc-westside2">
                    <div class="image-description-paragraph">Speculative brochure for Cleveland's West Side Market - Page 2. Info from <a href="http://westsidemarket.org/">West Side Market</a>.</div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Degular Text from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Degular Display from <a href="https://fonts.adobe.com/">Adobe Fonts</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-saulbass">
            <img class="portfolio-image" id="thumb-img-saulbass" src="~/images/portfolio-thumb/saul_bass_style_poster.jpg" />
            <div class="modal-info" id="modal-info-saulbass">
                <img class="portfolio-image-large" id="modal-img-saulbass" src="~/images/portfolio/saul_bass_style_poster.png" />
                <div class="image-description" id="desc-saulbass">
                    <div class="image-description-paragraph">A "Saul Bass-style" speculative ad poster for the movie "Eternal Sunshine of the Spotless Mind".</div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Slackey from <a href="https://1001fonts.com">1001Fonts</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-oldspice1">
            <img class="portfolio-image" id="thumb-img-oldspice1" src="~/images/portfolio-thumb/oldspice_specad1.jpg" />
            <div class="modal-info" id="modal-info-oldspice1">
                <img class="portfolio-image-large" id="modal-img-oldspice1" src="~/images/portfolio/oldspice_specad1.png" />>
                <div class="image-description" id="desc-oldspice1">
                    <div class="image-description-paragraph">Speculative ad series for Old Spice. Marketing aimed at new audience - women buying Old Spice for themselves.</div>
                    <div class="image-description-paragraph"><b>Fonts:</b> TroubleMarker DEMO with explicit permission for portfolio use from <a href="https://pizzadude.dk">pizzadude.dk</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-oldspice2">
            <img class="portfolio-image" id="thumb-img-oldspice2" src="~/images/portfolio-thumb/oldspice_specad2.jpg" />
            <div class="modal-info" id="modal-info-oldspice2">
                <img class="portfolio-image-large" id="modal-img-oldspice2" src="~/images/portfolio/oldspice_specad2.png" />
                <div class="image-description" id="desc-oldspice2">
                    <div class="image-description-paragraph">Speculative ad series for Old Spice. Marketing aimed at new audience - women buying Old Spice for themselves.</div>
                    <div class="image-description-paragraph"><b>Fonts:</b> TroubleMarker DEMO with explicit permission for portfolio use from <a href="https://pizzadude.dk">pizzadude.dk</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-earthday">
            <img class="portfolio-image" id="thumb-img-earthday" src="~/images/portfolio-thumb/earth_day_poster.jpg" />
            <div class="modal-info" id="modal-info-earthday">
                <img class="portfolio-image-large" id="modal-img-earthday" src="~/images/portfolio/earth_day_poster.png" />
                <div class="image-description" id="desc-earthday">
                    <div class="image-description-paragraph">Earth Day poster.</div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Arial Narrow from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-adcouncil1">
            <img class="portfolio-image" id="thumb-img-adcouncil1" src="~/images/portfolio-thumb/adcouncil1.jpg" />
            <div class="modal-info" id="modal-info-adcouncil1">
                <img class="portfolio-image-large" id="modal-img-adcouncil1" src="~/images/portfolio/adcouncil1.png" />
                <div class="image-description" id="desc-adcouncil1">
                    <div class="image-description-paragraph">Speculative ad series for the Ad Council - LGBT rights.</div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Chaparral Pro from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Ink Free from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a></div>
                    <div class="image-description-paragraph"><b>Photo Credits:</b> <a href="https://unsplash.com/centelm">Clément Falize</a> on <a href="https://unsplash.com">Unsplash</a>, <a href="https://unsplash.com/kmagnuson">Karl Magnuson</a> on <a href="https://unsplash.com">Unsplash</a>, <a href="https://unsplash.com/harlimarten">Harli Marten</a> on <a href="https://unsplash.com">Unsplash</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-adcouncil2">
            <img class="portfolio-image" id="thumb-img-adcouncil2" src="~/images/portfolio-thumb/adcouncil2.jpg" />
            <div class="modal-info" id="modal-info-adcouncil2">
                <img class="portfolio-image-large" id="modal-img-adcouncil2" src="~/images/portfolio/adcouncil2.png" />
                <div class="image-description" id="desc-adcouncil2">
                    <div class="image-description-paragraph">Speculative ad series for the Ad Council - LGBT rights.</div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Chaparral Pro from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Ink Free from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a></div>
                    <div class="image-description-paragraph"><b>Photo Credits:</b> <a href="https://unsplash.com/centelm">Clément Falize</a> on <a href="https://unsplash.com">Unsplash</a>, <a href="https://unsplash.com/kmagnuson">Karl Magnuson</a> on <a href="https://unsplash.com">Unsplash</a>, <a href="https://unsplash.com/harlimarten">Harli Marten</a> on <a href="https://unsplash.com">Unsplash</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-adcouncil3">
            <img class="portfolio-image" id="thumb-img-adcouncil3" src="~/images/portfolio-thumb/adcouncil3.jpg" />
            <div class="modal-info" id="modal-info-adcouncil3">
                <img class="portfolio-image-large" id="modal-img-adcouncil3" src="~/images/portfolio/adcouncil3.png" />
                <div class="image-description" id="desc-adcouncil3">
                    <div class="image-description-paragraph">Speculative ad series for the Ad Council - LGBT rights.</div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Chaparral Pro from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Ink Free from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a></div>
                    <div class="image-description-paragraph"><b>Photo Credits:</b> <a href="https://unsplash.com/centelm">Clément Falize</a> on <a href="https://unsplash.com">Unsplash</a>, <a href="https://unsplash.com/kmagnuson">Karl Magnuson</a> on <a href="https://unsplash.com">Unsplash</a>, <a href="https://unsplash.com/harlimarten">Harli Marten</a> on <a href="https://unsplash.com">Unsplash</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-arthistory1">
            <img class="portfolio-image" id="thumb-img-arthistory1" src="~/images/portfolio-thumb/arthistory_spreads_spread1.jpg" />
            <div class="modal-info" id="modal-info-arthistory1">
                <img class="portfolio-image-large" id="modal-img-arthistory1" src="~/images/portfolio/arthistory_spreads_spread1.png" />
                <div class="image-description" id="desc-arthistory1">
                    <div class="image-description-paragraph">Set of art history movement spreads. Info and photos from <a href="https://www.theartstory.org/">The Art Story</a></div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Cambria Regular from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>, Scriptina from <a href="https://1001fonts.com">1001Fonts</a>, Futura PT from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Copperplate from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Lucida Console from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a></div>
                    <div class="image-description-paragraph"><b>Photo Credits:</b> Various from <a href="https://www.wikiart.org/">WikiArt</a> and <a href="https://commons.wikimedia.org/">Wikimedia Commons</a> with Public Domain licenses, Nate Robert on <a href="https://www.flickr.com/photos/naterobert/4682690461">Flickr</a> with <a href="https://creativecommons.org/licenses/by/2.0/legalcode/">license</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-arthistory2">
            <img class="portfolio-image" id="thumb-img-arthistory2" src="~/images/portfolio-thumb/arthistory_spreads_spread2.jpg" />
            <div class="modal-info" id="modal-info-arthistory2">
                <img class="portfolio-image-large" id="modal-img-arthistory2" src="~/images/portfolio/arthistory_spreads_spread2.png" />
                <div class="image-description" id="desc-arthistory2">
                    <div class="image-description-paragraph">Set of art history movement spreads. Info and photos from <a href="https://www.theartstory.org/">The Art Story</a></div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Cambria Regular from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>, Scriptina from <a href="https://1001fonts.com">1001Fonts</a>, Futura PT from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Copperplate from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Lucida Console from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a></div>
                    <div class="image-description-paragraph"><b>Photo Credits:</b> Various from <a href="https://www.wikiart.org/">WikiArt</a> and <a href="https://commons.wikimedia.org/">Wikimedia Commons</a> with Public Domain licenses, Nate Robert on <a href="https://www.flickr.com/photos/naterobert/4682690461">Flickr</a> with <a href="https://creativecommons.org/licenses/by/2.0/legalcode/">license</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-arthistory3">
            <img class="portfolio-image" id="thumb-img-arthistory3" src="~/images/portfolio-thumb/arthistory_spreads_spread3.jpg" />
            <div class="modal-info" id="modal-info-arthistory3">
                <img class="portfolio-image-large" id="modal-img-arthistory3" src="~/images/portfolio/arthistory_spreads_spread3.png" />
                <div class="image-description" id="desc-arthistory3">
                    <div class="image-description-paragraph">Set of art history movement spreads. Info and photos from <a href="https://www.theartstory.org/">The Art Story</a></div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Cambria Regular from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>, Scriptina from <a href="https://1001fonts.com">1001Fonts</a>, Futura PT from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Copperplate from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Lucida Console from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a></div>
                    <div class="image-description-paragraph"><b>Photo Credits:</b> Various from <a href="https://www.wikiart.org/">WikiArt</a> and <a href="https://commons.wikimedia.org/">Wikimedia Commons</a> with Public Domain licenses, Nate Robert on <a href="https://www.flickr.com/photos/naterobert/4682690461">Flickr</a> with <a href="https://creativecommons.org/licenses/by/2.0/legalcode/">license</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-arthistory4">
            <img class="portfolio-image" id="thumb-img-arthistory4" src="~/images/portfolio-thumb/arthistory_spreads_spread4.jpg" />
            <div class="modal-info" id="modal-info-arthistory4">
                <img class="portfolio-image-large" id="modal-img-arthistory4" src="~/images/portfolio/arthistory_spreads_spread4.png" />
                <div class="image-description" id="desc-arthistory4">
                    <div class="image-description-paragraph">Set of art history movement spreads. Info and photos from <a href="https://www.theartstory.org/">The Art Story</a></div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Cambria Regular from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a>, Scriptina from <a href="https://1001fonts.com">1001Fonts</a>, Futura PT from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Copperplate from <a href="https://fonts.adobe.com/">Adobe Fonts</a>, Lucida Console from <a href="https://docs.microsoft.com/en-us/typography/font-list/">Microsoft Fonts</a></div>
                    <div class="image-description-paragraph"><b>Photo Credits:</b> Various from <a href="https://www.wikiart.org/">WikiArt</a> and <a href="https://commons.wikimedia.org/">Wikimedia Commons</a> with Public Domain licenses, Nate Robert on <a href="https://www.flickr.com/photos/naterobert/4682690461">Flickr</a> with <a href="https://creativecommons.org/licenses/by/2.0/legalcode/">license</a></div>
                </div>
            </div>
        </div>
        <div class="image-container" id="img-container-helvetica">
            <img class="portfolio-image" id="thumb-img-helvetica" src="~/images/portfolio-thumb/helvetica_poster.jpg" />
            <div class="modal-info" id="modal-info-helvetica">
                <img class="portfolio-image-large" id="modal-img-helvetica" src="~/images/portfolio/helvetica_poster.png" />
                <div class="image-description" id="desc-helvetica">
                    <div class="image-description-paragraph">Poster about the Helvetica font.</div>
                    <div class="image-description-paragraph"><b>Fonts:</b> Helvetica LT Pro Roman from <a href="https://www.myfonts.com/">MyFonts</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-image-modal" />
</content>

@section scripts
{
    <script>
        document.querySelectorAll(".portfolio-image").forEach(img =>
            img.onclick = function () {
                setModalActive(this);
            }
        )
        document.querySelectorAll(".modal-close-button").forEach(img =>
            img.onclick = function () {
                setCurrentModalInactive();
            }
        )
        document.querySelectorAll(".modal-left-button").forEach(img =>
            img.onclick = function () {
                var newActiveModal = document.querySelector(".modal-active").parentElement.previousElementSibling.getElementsByClassName("portfolio-image")[0];

                setCurrentModalInactive();
                setModalActive(newActiveModal);
            }
        )
        document.querySelectorAll(".modal-right-button").forEach(img =>
            img.onclick = function () {
                var newActiveModal = document.querySelector(".modal-active").parentElement.nextElementSibling.getElementsByClassName("portfolio-image")[0];

                setCurrentModalInactive();
                setModalActive(newActiveModal);
            }
        )

        function setModalActive(portfolioImage) {
            portfolioImage.classList.add("modal-active");

            var previousParentSibling = portfolioImage.parentElement.previousElementSibling;
            var nextParentSibling = portfolioImage.parentElement.nextElementSibling;

            document.querySelector(".portfolio-image-modal").style.display = "block";
            document.querySelector(".modal-close-button").style.display = "block";

            // Determine if left/right arrows should show
            if (previousParentSibling == null || previousParentSibling.className !== "image-container") {
                document.querySelector(".modal-left-button").style.display = "none";
            }
            else {
                document.querySelector(".modal-left-button").style.display = "block";
            }
            if (nextParentSibling == null || nextParentSibling.className !== "image-container") {
                document.querySelector(".modal-right-button").style.display = "none";
            }
            else {
                document.querySelector(".modal-right-button").style.display = "block";
            }

            var modalInfo = Array.prototype.slice.call(portfolioImage.nextElementSibling.children);

            modalInfo.forEach(function (info) {
                info.style.display = "block";
            });
        }

        function setCurrentModalInactive() {
            var portfolioImage = document.querySelector(".modal-active");

            document.querySelector(".portfolio-image-modal").style.display = "none";
            document.querySelector(".modal-close-button").style.display = "none";
            document.querySelector(".modal-left-button").style.display = "none";
            document.querySelector(".modal-right-button").style.display = "none";

            var modalInfo = Array.prototype.slice.call(portfolioImage.nextElementSibling.children);

            var modalInfo = Array.prototype.slice.call(portfolioImage.nextElementSibling.children);

            modalInfo.forEach(function (info) {
                info.style.display = "none";
            });

            portfolioImage.classList.remove("modal-active");
        }
    </script>
}