@model PortfolioSite.Models.ContactForm

<content>
    <div id="contact_form_container"></div>
</content>
@section scripts
{
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="/js/contact_form.js" type="text/babel"></script>
}